@model spr21team24finalproject.Models.ArtistReview

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ArtistReview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ArtistAvgRating" class="control-label"></label>
                <input asp-for="ArtistAvgRating" class="form-control" />
                <span asp-validation-for="ArtistAvgRating" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ArtistRating" class="control-label"></label>
                <input asp-for="ArtistRating" class="form-control" />
                <span asp-validation-for="ArtistRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistScoreCount" class="control-label"></label>
                <input asp-for="ArtistScoreCount" class="form-control" />
                <span asp-validation-for="ArtistScoreCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistScoreSum" class="control-label"></label>
                <input asp-for="ArtistScoreSum" class="form-control" />
                <span asp-validation-for="ArtistScoreSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistComment" class="control-label"></label>
                <input asp-for="ArtistComment" class="form-control" />
                <span asp-validation-for="ArtistComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

