@model spr21team24finalproject.Models.AlbumReview

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AlbumReview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="AlbumAvgRating" class="control-label"></label>
                <input asp-for="AlbumAvgRating" class="form-control" />
                <span asp-validation-for="AlbumAvgRating" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="AlbumRating" class="control-label"></label>
                <input asp-for="AlbumRating" class="form-control" />
                <span asp-validation-for="AlbumRating" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="AlbumComment" class="control-label"></label>
                <input asp-for="AlbumComment" class="form-control" />
                <span asp-validation-for="AlbumComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

