@model FeaturedViewModel

@{
    ViewData["Title"] = "FeaturedSongAlbumDisplay";
}

<h1>Featured</h1>

<form asp-action="Index" asp-controller="Home" method="get">
    <p class="form-group">
        <a asp-action="Index" class="btn btn-success">Go Back Home</a>
    </p>
</form>


<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </th>

        </tr>
    </thead>
    <tbody>
             
            @Html.DisplayFor(FeaturedViewModel => FeaturedViewModel.SongTitle)
              
            @Html.DisplayFor(FeaturedViewModel => FeaturedViewModel.AlbumTitle)
                
       
    </tbody>
</table>