<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedUsers" asp-controller="Seed" class="btn btn-info">Seed Users</a> 

<a asp-action="SeedSongs" asp-controller="Seed" class="btn btn-info">Seed Songs</a> 

<a asp-action="SeedAlbums" asp-controller="Seed" class="btn btn-info">Seed Albums</a>

<a asp-action="SeedArtists" asp-controller="Seed" class="btn btn-info">Seed Artists</a> 

<a asp-action="SeedSongReviews" asp-controller="Seed" class="btn btn-info">Seed SongReviewss</a> 

<a asp-action="SeedAlbumReviews" asp-controller="Seed" class="btn btn-info">Seed AlbumReviews</a> 

<a asp-action="SeedArtistReviews" asp-controller="Seed" class="btn btn-info">Seed ArtistReviews</a>

<a asp-action="SeedGenres" asp-controller="Seed" class="btn btn-info">Seed Genres</a>



